<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kancy.data.mapper.BenefitPointsExchangeMapper">
    <sql id="tableName">
        benefit_points_exchange
    </sql>

    <sql id="baseColumn">
        id,tenant_id,orig_id,name,exchange_points,type_code,status,creator,creator_name,create_time,updator,updator_name,update_time
    </sql>

</mapper>