<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kancy.data.mapper.BenefitMapper">
    <sql id="tableName">
        benefit
    </sql>

    <sql id="baseColumn">
        id,tenant_id,orig_id,name,discount,discount_rule,price,valid_period,overlay_giftcard,overlay_member_card,service_ids,terminal,status,total_count,creator,creator_name,create_time,updator,updator_name,update_time,whether_points,point_conversion,is_group
    </sql>

</mapper>