<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiguang.test.mapper.GiftcardMapper">
    <sql id="tableName">
        giftcard
    </sql>

    <sql id="baseColumn">
        id,tenant_id,batch_id,orig_id,patient_id,code,use_patient_id,use_time,order_id,status,sale_price,create_time,update_time
    </sql>

</mapper>