<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiguang.test.mapper.MarketOrgRangeMapper">
    <sql id="tableName">
        market_org_range
    </sql>

    <sql id="baseColumn">
        id,tenant_id,range_id,tool_id,tool_type,range_type,create_time,creator,update_time,updator,isDelete
    </sql>

</mapper>