<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiguang.test.mapper.PatientBenefitMapper">
    <sql id="tableName">
        patient_benefit
    </sql>

    <sql id="baseColumn">
        id,tenant_id,orig_id,patient_id,benefit_id,start_date,end_date,status,create_time,update_time
    </sql>

</mapper>